/* ==============================================================
   GLOBAL STYLES
   ============================================================== */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
    @media (max-width: 1200px) {
        font-size: 52px;
    }
    @media (max-width: 992px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 47px;
    @media (max-width: 768px) {
        font-size: 34px;
    }
}

h3 {
    font-size: 35px;
    @media (max-width: 992px) {
        font-size: 30px;
    }
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 28px;
    @media (max-width: 768px) {
        font-size: 22px;
    }
}

h6 {
    font-size: 21px;
    font-weight: 400;
}

p {
    font-size: 15px;
}

.main-block {
    padding: 90px 0;
    @media (max-width: 768px) {
        padding: 45px 0;
    }
}

.light-bg {
    background: #f3f4f7;
}

.dark-bg {
    background: white;
}

.slider {
    background: url(slider.jpg) no-repeat;
    background-size: cover;
    min-height: 800px;
    @media (max-width: 992px) {
        min-height: 700px;
    }
}

.btn-outline-light {
    padding: 10px 16px;
    @media (max-width: 992px) {
        width: 25%;
    }
    @media (max-width: 768px) {
        width: 30%;
    }
    @media (max-width: 576px) {
        width: 40%;
    }
    @media (max-width: 480px) {
        width: 100%;
    }
    &:hover {
        color: #000;
    }
}

.slider-title_box {
    text-align: center;
}

.slider-content_wrap {
    h5 {
        color: white;
        font-weight: 400;
        margin: 24px 0;
    }
}

.form-wrap {
    @media (max-width: 480px) {
        margin: 0 !important;
    }
}

.btn-group {
    width: 100%;
    @media (max-width: 576px) {
        display: block;
    }
}

.btn-group1 {
    padding: 24px;
    width: 40%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    @media (max-width: 576px) {
        width: 100%;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 17px;
    }
}

.btn-group2 {
    position: relative;
    padding: 24px;
    width: 33%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #ccc;
    @media (max-width: 576px) {
        width: 100%;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 17px;
    }
}

.btn-form {
    font-weight: 400;
    font-size: 18px;
    padding: 17px;
    width: 27%;
    background: #ff3a6d;
    color: #ffffff;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    @media (max-width: 768px) {
        width: auto;
    }
    @media (max-width: 576px) {
        width: 100%;
        border-radius: 3px;
    }
}

.search-icon {
    font-size: 15px;
    padding-right: 10px;
}

.slider-link {
    color: #909090;
    margin: 45px 0 0;
    font-size: 19px;
    @media (max-width: 480px) {
        margin: 18px 0 0;
        a,
        span {
            display: block;
        }
    }
    a {
        color: #909090;
        text-decoration: underline;
        transition: 0.3s;
        &:hover {
            color: #fff;
        }
    }
    span {
        padding: 0 18px;
    }
}