<section class="container text-center">  
    <h1 class="h1-responsive font-weight-bold title">Restaurant Recommendation</h1>
    <h3>newList: {{newList}}</h3>
    <h3>submitStatus: {{isChange}}</h3>
    <div class="container" *ngIf="recommendationList" >
      <div  *ngFor="let recommend of recommendationList">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <div class="card card-cascade wider">
              <div class="view view-cascade overlay">
                <img  class="card-img-top" src={{recommend.restaurantAvatar}} alt="Card image cap">
                <a (click)="click(recommend.restaurantID)">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div> 
              <div class="card-body card-body-cascade text-center">  
                <h4 class="card-title"><strong style="font-size:20px">{{recommend.restaurantName}}</strong></h4>
                <h5 class="blue-text pb-2"><strong>Address: {{recommend.address}}</strong></h5>
                <p class="card-text" style="font-size:13px">{{recommend.introductionContent}}</p>  
                <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> 
              </div> 
          </div>
        </div>
      </div>
    </div>
</section>

