<section class="container text-center my-5">  
    <h1 class="h1-responsive font-weight-bold my-5">Restaurant Recommendation</h1>
    <div class="container" *ngIf="recommendationList" >
      <div  *ngFor="let recommend of recommendationList">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <div class="card card-cascade wider">
              <div class="view view-cascade overlay">
                <img  class="card-img-top" src='../../assets/img/restaurant3.jpg' alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div> 
              <div class="card-body card-body-cascade text-center">  
                <h4 class="card-title"><strong style="font-size:20px">{{recommend.restaurantName}}</strong></h4>
                <h5 class="blue-text pb-2"><strong>Address: {{recommend.address}}</strong></h5>
                <p class="card-text" style="font-size:13px">{{recommend.introductionContent}}</p>  
                <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> 
              </div> 
          </div>
        </div>
      </div>
    </div>
</section>


  <!-- Section: Blog v.1 -->
<!-- <section class="container text-center my-5">  
  <h2 class="h1-responsive font-weight-bold my-5">Restaurant Recommendation</h2>
  <div class="row" *ngIf="recommendationList">
    <div  *ngFor="let recommend of recommendationList">
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src='../../assets/img/restaurant3.jpg' alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3"><i class="far fa-map pr-2"></i>Adventure</h6>
        </a>
        <h4 class="font-weight-bold mb-3"><strong>{{recommend.restaurantName}}</strong></h4>
        <p>{{recommend.address}}</p>
        <p class="dark-grey-text">{{recommend.introductionContent}}</p>

        <a mdbBtn color="pink" rounded="true" mdbWavesEffect>View detail</a>
      </div>
    </div>
  </div>
</section> -->

  
  