.badge {
    font-size: 12px;
    padding: 10px;
}

.badge_style_1 {
    padding: 50px;
}

.badge_style_2 {
    padding: 10px 30px 10px 120px;
}

.h6, h6 {
    font-size: 15px !important;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    text-transform: uppercase;
}