/* h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 300; }
    @media (max-width: 1200px) {
      h1 {
        font-size: 52px; } }
    @media (max-width: 992px) {
      h1 {
        font-size: 40px; } } */
  
  h3 {
    font-size: 35px; }
    @media (max-width: 992px) {
      h3 {
        font-size: 30px; } }
  
  .fontsize {
    font-size: 60px; 
  }
  
  .slider {
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    min-height: 650px; }
    @media (max-width: 992px) {
      .slider {
        min-height: 700px; } }
  
  /* .btn-outline-light {
    padding: 10px 16px; }
    @media (max-width: 992px) {
      .btn-outline-light {
        width: 25%; } }
    @media (max-width: 768px) {
      .btn-outline-light {
        width: 30%; } }
    @media (max-width: 576px) {
      .btn-outline-light {
        width: 40%; } }
    @media (max-width: 480px) {
      .btn-outline-light {
        width: 100%; } }
    .btn-outline-light:hover {
      color: #000; } */
  
   .slider-title_box {
    text-align: center; }
  
  .slider-content_wrap {
    color: white;
    font-weight: 300;
    margin: 50px 0;
    padding: 100px 0px 0px 0px;}
    @media (max-width: 768px) {
      h5 {
        font-size: 22px; } }
  
  /*@media (max-width: 480px) {
    .form-wrap {
      margin: 0 !important; } }
  
  .btn-group {
    width: 100%; }
    @media (max-width: 576px) {
      .btn-group {
        display: block;
        align-items: center; 
        margin: 50px 0 0 0;
      } 
      
  }
  
  .btn-group1 {
    padding: 24px;
    width: 35%;
    height: 8%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none; }
    @media (max-width: 576px) {
      .btn-group1 {
        width: 100%;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 17px; } }
  
  .btn-form {
    font-weight: 400;
    font-size: 18px;
    padding: 17px;
    width: 27%;
    background: #ff3a6d;
    color: #ffffff;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    @media (max-width: 768px) {
      .btn-form {
        width: auto; } }
    @media (max-width: 576px) {
      .btn-form {
        width: 100%;
        border-radius: 3px; } }
  
  .search-icon {
    font-size: 15px;
    padding-right: 10px; }
  
  .selectOne {
    width: 35%;
    height: 8%;
  } */
  
  /****** filter *******/
   .text{
    color: black;
  }
  
  .redColor {background: #ff3a6d;}
  
  /****** main area *******/
  .main-block {
    padding: 90px 0; }
    @media (max-width: 768px) {
      .main-block {
        padding: 45px 0; } }
  
  .styled-heading {
    text-align: center;
    margin: 0 0 50px; }
    @media (max-width: 768px) {
      .styled-heading {
        margin: 0 0 30px; } }
      .styled-heading h3 {
        position: relative;
        padding: 0 0 23px; }
      .styled-heading h3:after {
        position: absolute;
        content: "";
        width: 60px;
        height: 3px;
        background: #ff3a6d;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); 
  } 
  
   *****  filter  ****
  .dropdown.dropdown-lg .dropdown-menu {
      margin-top: -1px;
      padding: 6px 20px;
  } 
  .input-group-btn .btn-group {
      display: flex !important;
  }
  .btn-group .btn {
      border-radius: 0;
      margin-left: -1px;
  }
  .btn-group .btn:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }
  .btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  } 
  .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0;
  }
  .form-group .form-control:last-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  
  @media screen and (min-width: 768px) {
      #adv-search {
          width: 500px;
          margin: 0 auto;
      }
      .dropdown.dropdown-lg {
          position: static !important;
      }
      .dropdown.dropdown-lg .dropdown-menu {
          min-width: 500px;
      }
  }