.DS_Store
db/*
.vs/*
.vscode/*
node_modules/*
*.sh
angular/node_modules/*
package-lock.json
angularDist/

#*.js	
#route/*.js	
#model/*.js	
#interfaces/*.js
!test/TestRestaurant.js
!test/TestTag.js
!test/TestFoodie.js
!test/TestReview.js
!createDB/createAll.js
