h3 {
    font-size: 20px;
    font-weight: bold; 
    color: purple;
    text-shadow: 1px 1px white;
    text-align: center;}
    @media (max-width: 1200px) {
      h3 {
        font-size: 20px; } }
    @media (max-width: 992px) {
      h3 {
        font-size: 20px; } }
  
  h4 {
    font-size: 15px;
    font-weight: bold;
    color: gray;
    text-shadow: 1px 1px white;
    text-align: center;}
    @media (max-width: 992px) {
      h3 {
        font-size: 15px; } }

.form-group {
    width: 300px;
    height: 200px;
}
.text {
  float: left;
  padding: 0px 0px 20px 0px;
}
.container {
    padding: 15px 0px 0px 0px;
}

.tagStyle {
    color: white; 
    font-size:15px; 
    font-weight: bold;
}

.btn {
    font-weight: bold; 
    font-size: 15px;
    color: white;
    height: 50px;
    margin-bottom: 50px;
}