<section class="slider align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-title_box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider-content_wrap">
                                <h1 class="fontsize">Please select your tag and rank them</h1>
                                <h3>Please set these tags in different priority, or you won't get an accurate recommendation</h3>
                            </div>
                        </div>					
                    </div>
                    <form class="container" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                        <div class="row" *ngIf="tagList">                   
                            <div class="form-group col-md-3" *ngFor="let tag of tagList">  
                                <mdb-card class="mb-3" bgColor="bg-white" style="max-width: 25rem">
                                    <mdb-card-header class="tagStyle">{{tag.tagName}}</mdb-card-header>
                                    <mdb-card-body>
                                        <select class="form-control tagStyle" id="conditionsselect1" name="{{tag.tagName}}" ngModel required>
                                            <option *ngFor="let tag of tagList; let i = index; let each = tag">
                                                {{i+1}}
                                            </option>
                                        </select>
                                    </mdb-card-body>
                                </mdb-card>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-warning" style="display: block; margin: 0 auto;" [disabled]="f.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
