<section class="main-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="styled-heading">
                    <h3>Please select your tag and rank them</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider align-items-center">
    <form class="container" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="row">
            <div class="col-md-6" *ngIf="tagList" >                     
                <div class="form-group" *ngFor="let tag of tagList" >                           
                  <h4 class = "text">{{tag.tagName}}</h4>
                  <select class="form-control" id="conditionsselect1" name="{{tag.tagName}}" ngModel required>
                    <option *ngFor="let tag of tagList; let i = index; let each = tag">
                        {{i+1}}
                    </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning" style="float:right" [disabled]="f.invalid">Submit</button>
            </div>
            <div class="col-md-6">  
                <div>
                    <img src="assets/img/tagSelection.png"alt=""height="600" width="800" style='padding: 5px; margin:20px;'>
                </div>
            </div> 
        </div>
    </form>
</section>
                  