
<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" (click)="onClick()">Recommendation</h3>
      </div>
      <form class="panel-body" *ngIf="isCollapse" #f="ngForm" novalidate>
        <div class="col-md" *ngIf="tagList" >                     
          <div class="form-group" *ngFor="let tag of tagList" >                           
            <h4 class = "text">{{tag.tagName}}</h4>
            <select class="form-control" id="conditionsselect1" name="{{tag.tagName}}" ngModel required>
              <option *ngFor="let tag of tagList; let i = index; let each = tag">
                  {{i+1}}
              </option>
            </select>
          </div>
        </div>
        <div class="btn-group form-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-warning btn-md btn-secondary" (submit)="onSubmit(f)" [disabled]="f.invalid">Find Now</button>
          <button type="submit" class="btn btn-warning btn-md btn-secondary" (submit)="onReset(f)">Reset All</button>
        </div>
      </form>
    </div>
  </div>
</div>

  
  