.panel-heading {
    background-color: #f0ad4e;
    color: white;   
}

.panel-title {
    font-size: 20px;
    font-weight: bold;
}

.btn {
    font-weight: bold; 
    font-size: 15px;
    color: white;
    height: 35px;
}