<div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <img src="assets/img/drink.jpg" alt="...">
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card mt-5" style="margin:auto;width: 600px;padding-bottom: 50px">
        <div class="card-body">
          <h1 style="padding-top: 300px">Register</h1>
          <form #myform="ngForm" (ngSubmit)="tryRegister(myform)" class="form form-register">
              <label for="userType">UserType</label>
              <p>
                  <input type="text" class="form-control" id="userType" placeholder="userType" name = "userType" required ngModel>
              </p>

              <label for="userName">userName</label>
              <p>
                  <input type="text" class="form-control" id="userName" placeholder="userName" name = "userName" required ngModel>
              </p>

              <label for="emailAddress">Email</label>
              <p>
                  <input type="text" class="form-control" id="emailAddress" placeholder="Email Address" name = "emailAddress" required ngModel>
              </p>

              <label for="email">Password</label>
              <p>
                  <input type="password" class="form-control" id="password" placeholder="Password" name = "password" required ngModel>
              </p>
              <button type="submit" class="btn btn-primary" value="register">Register</button>
          </form>
        </div>
      </div>
    </div>
</div>