<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="javascript:initXHR('home')">FoodHunter</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="login">Login</a></li>
          <li><a href="register">Register</a></li>
      </ul>
      </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<router-outlet></router-outlet>

<!-- footer -->
<!-- <footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; All rights reserved for <i>PandaMan</i> 2019</p>
    </div>
</footer> -->