h1 {
    font-size: 72px;
    color: #fff;
    font-weight: bold; 
    text-shadow: 1px 1px gray;}
    @media (max-width: 1200px) {
      h1 {
        font-size: 52px; } }
    @media (max-width: 992px) {
      h1 {
        font-size: 40px; } }
  
  h3 {
    font-size: 35px; 
    font-weight: bold;
    text-shadow: 1px 1px gray;}
    @media (max-width: 992px) {
      h3 {
        font-size: 30px; } }
  
  .message {
    font-size: 25px; 
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-align: left;
  }

.slider {
    background: url('../../assets/img/login_b2.jpg') no-repeat;
    background-size: cover;
    min-height: 700px;}
    @media (max-width: 992px) {
        .slider {
          min-height: 700px; } }
    
    .btn-outline-light {
      padding: 10px 16px; }
      @media (max-width: 992px) {
        .btn-outline-light {
          width: 25%; } }
      @media (max-width: 768px) {
        .btn-outline-light {
          width: 30%; } }
      @media (max-width: 576px) {
        .btn-outline-light {
          width: 40%; } }
      @media (max-width: 480px) {
        .btn-outline-light {
          width: 100%; } }
      .btn-outline-light:hover {
        color: #000; }
    
    .slider-title_box {
      text-align: center; }
    
    .slider-content_wrap {
      color: white;
      font-weight: 300;
      margin: 50px 0;
      padding: 100px 0px 0px 0px;}
      @media (max-width: 768px) {
        h5 {
          font-size: 22px; } }
    
    @media (max-width: 480px) {
      .form-wrap {
        margin: 0 !important; } }
    
    .form-group {
      width: 45%;}
      @media (max-width: 576px) {
        .form-group {
          display: block;
          align-items: center; 
          margin: 50px 0 0 0;
        } 
        
    } 

.btn {
    font-weight: bold; 
    font-size: 20px;
    color: white;
    height: 50px;
}

.btn_1 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    height: 30px;
    margin: 10px;
    text-align: center;
}

.form-control {
  height: 50px;
  font-size: 20px;
}

.tab-content {
    font-size: 16px;
}