<section class="slider align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider-title_box">
            <div class="row">
              <div class="col-md-12">
                <div class="slider-content_wrap">
                  <h1 class="fontsize">Welcome to FoodieHunter</h1>
                  <h3>Please login before you using it.</h3>
                </div>
              </div>					
            </div>
            <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog cascading-modal" role="document">
                  <div class="modal-content">
                    <div class="modal-c-tabs">
                      <ul class="nav nav-tabs md-tabs tabs-2 purple darken-3" role="tablist">
                        <li class="nav-item">
                          <h4 class="nav-link active" data-toggle="tab" role="tab" style="font-weight: bold">
                            <!-- <i class="fas fa-user mr-1 text-center"></i> -->
                              Login</h4>
                        </li>
                        
                      </ul>
                      <form class="tab-content">
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                          <div class="modal-body mb-1">
                            <!-- <div class="md-form form-sm mb-5">
                              <i class="fas fa-envelope prefix"></i>
                              <input type="email" id="modalLRInput10" class="form-control form-control-sm validate" placeholder="User ID"
                               name = "userID" style="font-size: 15px" [(ngModel)] = 'userID'>
                              <label data-error="wrong" data-success="right" for="modalLRInput10" style="font-size: 15px">Your email</label>
                            </div> -->
              
                            <!-- <div class="md-form form-sm mb-4">
                              <i class="fas fa-lock prefix"></i>
                              <input type="password" id="modalLRInput11" class="form-control form-control-sm validate" placeholder="Password not required" 
                              name = "password" style="font-size: 15px" required ngModel>  -->
                              <!-- <label data-error="wrong" data-success="right" for="modalLRInput11" style="font-size: 15px">Your password</label> -->
                            <!-- </div> --> 
                            <div class="text-center mt-2">
                              <a role= "button" class="btn_1 purple-gradient" value="Log in" href="/auth/google">Google</a>
                            </div>
                          </div>
                          <!--Footer-->
                          <div class="modal-footer">
                            <div class="options text-center ">
                              <p>Want to login with Facebook? Sorry you can only login with Google</p>
                            </div>
                            <button type="button" class="btn_1 btn-outline-purple waves-effect ml-auto" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
            <div class="text-center">
                <a  href="" class="btn peach-gradient my-3" data-toggle="modal" data-target="#modalLRForm">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>



