<hr style="background: lightgray ; width: 90%">
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="review">
				<h3 class="display-3">Reviews &nbsp;&nbsp;
					<a [style.visibility]="this.rID==0? 'hidden': 'visible'" [routerLink]="['/addreview']" [queryParams]='{uID: this.uID, rID: this.rID}'>
						<i class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</h3>
				<div class="panel panel-default" *ngFor="let list of lists; let i = index">
					<div class="panel-heading">{{users[i]?.userName}}: {{list.title}} &nbsp;</div>
					<div class="panel-body">{{list.content}}</div>
				</div>
			</div>
		</div>
	</div>
</div>