<h2 class="h1-responsive font-weight-bold text-left my-5">Reviews&nbsp;&nbsp;
	<a [style.visibility]="this.rID==0? 'hidden': 'visible'" [routerLink]="['/addreview']"
		[queryParams]='{rID: this.rID}'>
		<i class="fa fa-plus" aria-hidden="true"></i>
	</a>
</h2>
<div class="single-news mb-4" *ngFor="let singleReview of reviewList; let i = index">
	<div class="row">
		<div *ngIf="!isUser">
			<div class="col-md-3">
				<div class="view overlay rounded z-depth-1 mb-4">
					<img class="img-fluid" src='../../assets/img/profile.png' alt="Sample image">
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<p class="font-weight-bold dark-grey-text" style="font-size: 18px">{{userList[i]?.userName}}:
					{{singleReview.title}} &nbsp;</p>
				<div class="d-flex justify-content-between">
					<div class="col-11 pl-0 mb-3">
						<p class="dark-grey-text" style="font-size: 15px">{{singleReview.content}}</p>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="isUser">
			<div class="col-md-9" *ngIf="rNameList">
				<p class="font-weight-bold dark-grey-text" style="font-size: 18px">{{i+1}}. {{rNameList[i]}}:
					{{singleReview.title}}&nbsp;</p>
				<div class="d-flex justify-content-between">
					<div class="col-11 pl-0 mb-3">
						<p class="dark-grey-text" style="font-size: 15px">{{singleReview.content}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

