<body class="profile-page">        
    <div class="page-header" data-parallax="true"></div>
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                           <div class="profile">
                                <div class="avatar">
                                    <img src= {{avatarPicture}} alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <div class="name">
                                    <h3 class="title">{{ userName }}</h3>
                                    <h6>Email: {{ emailAddress }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="profile-tabs">
                              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" role="tab" data-toggle="tab" href="#profile">
                                        Profile
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" role="tab" data-toggle="tab" href="#review">
                                        Review
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" role="tab" data-toggle="tab" href="#collection">
                                        Collection
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" role="tab" data-toggle="tab" href="#tagCollection">
                                        TagSelection
                                    </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row tab-content" >
                        <div class="tab-pane" id="profile">
                            <div class="badge_style_1" *ngIf= "tagPriList">
                                <div class="col-md-3 ml-auto mr-auto">
                                    <h6>current priority of tags: </h6>     
                                </div>
                                <div class="col-md-9 ml-auto mr-auto">
                                    <div class="col-md-3 ml-auto badge_style_2  justify-content-left" *ngFor="let tag of tagPriList">
                                        <span class="badge badge-pill purple-gradient">{{ tag }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="review">
                            <app-review [userID]= "userID"></app-review>
                        </div>
                        <div class="tab-pane" id="collection">
                            <app-collection [userID]= "userID"></app-collection>
                        </div>
                        <div class="tab-pane" id="tagCollection">
                            <app-tag-selection [userID]= "userID"></app-tag-selection>
                        </div> 

                    </div>
                </div>                  
            </div>                   
    </div>
</body> 

<router-outlet></router-outlet>

<!-- <div class=navbar navbar-light bg-faded>
        <ul class=nav navbar-nav>
          <a class=nav-item nav-link active data-toggle=tab href=#start>Start</a>
          <a class=nav-item nav-link data-toggle=tab href=#form>Form</a>
          <a class=nav-item nav-link data-toggle=tab href=#status>Status</a>
          <a class=nav-item nav-link data-toggle=tab href=#reports>Reports</a>
        </ul>
      </div>
      
      <div class=tab-content>
        <div class=tab-pane active id=start>1</div>
        <div class=tab-pane id=form>2</div>
        <div class=tab-pane id=status>3</div>
        <div class=tab-pane id=reports>4</div>
      </div> -->