<div class="container">
    <div class="row">            
        <div class="col-lg-3">         
            <h1 class="my-4">Hi {{ userName }}</h1>
            <div class="list-group">
            <a [routerLink]="['/profile']" class="list-group-item" [queryParams]='{userID: id}'>Profile</a>
            <a [routerLink]="['/review']" [queryParams]='{uID: id}' class="list-group-item">Reviews</a>
            <a [routerLink]="['/collection']"class="list-group-item" [queryParams]='{userID: id}'>Collections</a>
        </div>            
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-sm-4 col-md-4">    
            <img src="assets/img/profile.png"alt=""height="300" width="350" style='padding: 20px; margin:20px;'>
    </div>
    <div class="col">     
        <div class="col-sm-4 col-md-4" style='padding: 10px; margin: 30px'></div>
        <blockquote>
            <p>{{ userName }}</p>
        </blockquote>
        <p> <i class="glyphicon glyphicon-envelope"></i> {{ email }}
        </p>
        <button type="button" class="btn btn-warning" style="float:center">Edit</button>
    </div>
</div>

<router-outlet></router-outlet>

