    
<div class="container">   
    <div class="col">
        <div class="col-md-3 col-md-6 mb-4">
            <div class="collections">
                <h3 class="display-3">Collection &nbsp;&nbsp;
                </h3>
                <div class="panel panel-default" *ngFor="let restaurant of restaurants">
                    <div class="panel-heading">{{restaurant.restaurantName}} &nbsp;</div>
                    <div class="panel-body"></div>
                        <p class="card-text"><strong>Address: </strong>{{restaurant.address}}</p>
                        <p class="card-text"><strong>Hours: </strong>{{restaurant.hours}}</p>
                        <p class="card-text"><strong>Introduction: </strong>{{restaurant.introductionContent}}</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    
<router-outlet></router-outlet>
