<section class="slider align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slider-title_box">
					<div class="row">
						<div class="col-md-12">
							<div class="slider-content_wrap">
								<h1 class="fontsize">Discover great places in Seattle</h1>
								<h3>Let's uncover the best places to eat or drink.</h3>
							</div>
						</div>					
					</div>
					<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
						<div class="form-row">
							<div class="form-group col-md-5">
								<input type="text" class="form-control" placeholder="What are you looking for?" name="restaurantName"
									ngModel required>
							</div>
							<div class="form-group col-md-5">
								<select class="form-control" name="options" ngModel required>
									<option value="" disabled>Choose...</option>
									<option *ngFor="let option of options" [ngValue]="option.description">
										{{ option.description }}
									</option>
								</select>
							</div>
							<button class="btn peach-gradient" type="submit" [disabled]="f.invalid">Search</button>
						</div>		
					</form>
					<div class="row">
						<div class="col-md-12">
							<div class="p-3 mb-2 bg-gradient-warning message" role="alert" *ngIf="!found && submitted">Oops! No restaurantName found! Please try another one!</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="part_2">
		<div class="row">
			<div class="col-6 col-md-4">
				<app-filter #sel></app-filter>
			</div>
			<div class="col-12 col-md-8">
				<app-recommendation-list [isChange] = "sel.isSubmit" [newList] = "sel.newList"></app-recommendation-list>
			</div>
		</div>
	</div>			
</section>

