<div class = "container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-row">
      <div class="form-group col-md-5">
        <input type="text" class="form-control" placeholder="What are you looking for?" name = "restaurantName" ngModel required>
      </div>
      <div class="form-group col-md-5">
        <select class="form-control" name="options" ngModel required>
          <option value="" disabled>Choose...</option>
          <option *ngFor="let option of options" [ngValue]="option.description">
              {{ option.description }}
          </option>        
        </select>
      </div>  
      <button class="btn btn-warning" type="submit" [disabled]="f.invalid">Search</button>
    </div> 
  </form> 
</div>
 
